.header-bg {   
    background: linear-gradient(rgba(32,32,32,0) 0%, var(--background) 40%), url(../images/raster/goals_header.jpg);
    background-position: top;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: 100vw;
}

.main-content-layout {
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-gap: 20px;
    justify-items: stretch;
}

.gg-goal {
    height: minmax(130px, 1fr);
    width: minmax(130px, 1fr);
    border: 0;
    margin:0;
    padding: .2em;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    justify-items: center;
    aspect-ratio: 1 / 1;
}

.gg-g1 {
    background-color: var(--gg1-no-poverty);
}

.gg-g2 {
    background-color: var(--gg2-zero-hunger);
}

.gg-g3 {
    background-color: var(--gg3-good-health);
}

.gg-g4 {
    background-color: var(--gg4-quality-education);
}

.gg-g5 {
    background-color: var(--gg5-gender-equality);
}

.gg-g6 {
    background-color: var(--gg6-clean-water);
}

.gg-g7 {
    background-color: var(--gg7-clean-energy);
}

.gg-g8 {
    background-color: var(--gg8-decent-work);
}

.gg-g9 {
    background-color: var(--gg9-industry);
}

.gg-g10 {
    background-color: var(--gg10-reduced-inequalities);
}

.gg-g11 {
    background-color: var(--gg11-sustainable-cities);
}

.gg-g12 {
    background-color: var(--gg12-responsible-consumption);
}

.gg-g13 {
    background-color: var(--gg13-climate-action);
}

.gg-g14 {
    background-color: var(--gg14-life-below-water);
}

.gg-g15 {
    background-color: var(--gg15-life-on-land);
}

.gg-g16 {
    background-color: var(--gg16-peace-justice);
}

.gg-g17 {
    background-color: var(--gg17-partnerships);
}

.gg-g18 {
    background-color: var(--gg18-global-goals);
}

@media (max-width: 320px) { 
    .main-content-layout {
        padding-bottom: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
        grid-gap: 12px;
    }

    .gg-goal {
        height: minmax(120px, 1fr);
        width: minmax(120px, 1fr);
    }
 }